<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcertif.android.ui.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="15"
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:name="com.jcertif.android.JCApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- Main Activity -->
        <!-- android:name="com.jcertif.android.ui.view.ConnectionActivity" -->
        <activity
            android:name="com.jcertif.android.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Connection Activities -->
        <activity
            android:name="com.jcertif.android.ui.view.connection.ConnectionActivityHC"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.jcertif.android.ui.view.connection.ConnectionActivityLegacy"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- Main Activities -->
        <activity
            android:name="com.jcertif.android.ui.view.main.MainActivityHC"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.jcertif.android.ui.view.main.MainActivityLegacy"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- Other activities -->
        <activity
            android:name="SpeakersListActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="SpeakerActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="SessionDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- Service -->
        <service android:name="com.jcertif.android.service.androidservices.JCertifLocalService" />
        <service android:name="com.jcertif.android.service.androidservices.UpdaterService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>